
*{
	border:0;
	margin:0;
	box-sizing: border-box;
}

body{
	color:rgb(160,160,160);
	font-family: helvetica;
	font-size:100%;
	line-height: 1.3
}

p{
	font-size: 1.4rem;
	margin:0 0 24px 0;
}

.parallas, .main, .texto{
	margin:0 auto;
}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative;
}

.parallax h2{
	color:#fff;
	font-size: 2.8rem;
	font-weight: bold;
	position: absolute;
	top:35%;
	left: 28%
}
.img-uno{
	background-image: url('../img/rain-1479303_640.jpg');
}

.img-dos{
	background-image:url("../img/lighter-1363095_640.jpg");
}

.img-tres{
	background-image:url("../img/dock-1365387_640.jpg");
}

.texto{
	padding:5%;
	width: 90%;
}